.card-box {
  min-height: 350px;
  min-width: calc((100% / 7) - 40px);
  max-height: 350px;
  max-width: calc((100% / 7) - 40px);
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 10px;

  .not-found {
    background-color: white;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .poster {
    height: 100%;
    width: 100%;
  }

  .info {
    padding: 10px;
    display: none;
    color: white;
  }

  &:hover {
    background-color: black;
    overflow: auto;

    .poster,
    .not-found {
      display: none;
    }

    .info {
      display: block;

      div {
        & strong {
          color: white;
        }

        .flag {
          width: 25px;
          height: 15px;
        }
      }

      .voto {
        display: flex;
        align-items: center;
        color: yellow;
      }
    }
  }
}
